<section
        id="contact" class="p-0"></section>
<section id="contact" style="background-color: rgba(240,95,64,0.06);height: 556px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">contact us&nbsp;</h2>
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in"
                                                         data-aos-duration="300" data-aos-once="true"></i>
                <p>+(212) 5120482</p>
            </div>
            <div class="col-lg-4 mr-auto text-center"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"
                                                         data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300"
                                                         data-aos-once="true"></i>
                <p><a href="mailto:your-email@your-domain.com">bam@poste.com</a></p>
            </div>
        </div>
    </div>
</section>